.menu-item {
    color: #6b7280;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.menu-item:hover:not(.active) {
    background-color: #f3f4f6;
}

.menu-item.active {
    background-color: #818cf8 !important;
    color: white !important;
}

.menu-item i, .logout-item i {
    width: 20px;
    text-align: center;
}

.logout-item {
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}